@keyframes slideInGlow {
  0% {
      opacity: 0;
      transform: translateY(-50px);
      text-shadow: none;
  }
  50% {
      opacity: 1;
      transform: translateY(0);
      text-shadow: 0 0 10px rgba(0, 255, 55, 0.5);
  }
  100% {
      opacity: 1;
      text-shadow:  0 0 20px rgba(43, 255, 0, 0.8); 
  }
}

.tituloevent h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, #21721e, #2a5298);
  text-align: center;
  margin-top: 20px;
  animation: slideInGlow 2s ease-out;
}

.boton1, .boton_2, .boton_3, .boton_4, .boton_5, .boton_6 {
  text-align: center;
  padding: 20px; 
}

.boton1 button, .boton_2 button, .boton_3 button, .boton_4 button, .boton_5 button, .boton_6 button {
  background: linear-gradient(135deg, #21721e, #2a5298);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px; 
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.boton1 button:hover, .boton_2 button:hover, .boton_3 button:hover, .boton_4 button:hover, .boton_5 button:hover, .boton_6 button:hover {
  background-color: #218838; /* Verde oscuro */
  transform: scale(1.05); /* Efecto crecimiento */
}

.boton1 button:active, .boton_2 button:active, .boton_3 button:active, .boton_4 button:active, .boton_5 button:active, .boton_6 button:active {
  background-color: #1e7e34; /* Verde se presiona */
  transform: scale(0.98); /* Efecto presión */
}


.centrado{
    text-align: center;
}


.descrpevent{
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
  
}

.banner {
    background: url('eventos\ año\ 2025.png') ;
    background-size: cover;
    animation: moverFondo 9s linear infinite;
    text-align: center;
    height: 500px;
    width: 2500px;
  }
  
  @keyframes moverFondo {
    from {
      background-position:  0 0 ;
    }
    to {
      background-position: -500px 0;
    }
  }

  footer {
    background: linear-gradient(135deg, #21721e, #2a5298); 
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
    position: relative;
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.footer-links {
    margin: 20px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffcc00; 
}



.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}

  
.fixed {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: linear-gradient(135deg, #21721e, #2a5298);
  color: white;
  padding: 10px;
  font-size: x-large;
}

.subtitulos{
  background: linear-gradient(135deg, #21721e, #2a5298);
  color:white
}

